<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="classes" name="ProjectTestSuite">
	<test thread-count="5" parallel="classes" name="CucumberTest">
		<classes>
			<class name="com.Test.Runners.GenericRunner" />
		</classes>
	</test> <!-- CucumberTest -->
</suite> <!-- ProjectTestSuite -->
